@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font: 'Momo Trust Display';
    box-sizing: border-box;
}

.wrapper{
    /* display: flex;
    align-items: center; */
    justify-content: center;
    flex-shrink: 3;
    background-color: rgb(216, 216, 216);
}

button{
    color: black;
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
    text-decoration: none;
    background-color: rgb(217, 217, 217);
}

input{
    border-radius: 5px;
    outline: none;
    margin: 5px;
    padding: 3px 7px 3px 7px;
}