@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
    box-sizing: border-box;
    /* background-color: #F3F2EC; */
}

body{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F2EC;
}

.wrapper{
    margin-top: 40dvh;
    height: 300px;
    width: 350px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCDCDC;
    border: 1px solid rgba(0, 0, 0, 0.204);
    border-radius: 10px;
}

.wrapper h2{
    color: #E62727; 
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    text-align: start;
}

.wrapper input{
    width: 70%;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.646);
    margin: 5px;
    padding: 6px 10px;
    
}

.cta-btn button{
    margin-top: 20px;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: #dedede;
    border: 1px solid rgba(0, 0, 0, 0.646);
}

.button:hover {
    background-color: #E9B3FB;
    color: #3B0270;
    border: 1px solid #3B0270;
}
