* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f2ec;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: #dcdcdc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.wrapper h2 {
  color: #e62727;
  font-size: 24px;
  text-align: center;
}

.wrapper input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.cta-btn {
  display: flex;
  gap: 10px;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #dedede;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  background-color: #e9b3fb;
  color: #3b0270;
  border-color: #3b0270;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
